$black: #212121;
$white: #fff;

$text: #212121;
$secondary: #727272;
$divider: #B6B6B6;
$light: #eee;

$facebook: #3b5998;
$twitter: #3f729b;
$instagram: #f26798;

$primary-300: #7ECEFD;
$primary-500: #2185C5;
$primary-700: #3E454C;

$accent-100: #FF7F66;
