$black: #333;
$white: #fff;

$text: rgba(0, 0, 0, .87);
$secondary: rgba(0, 0, 0, .54);

$divider: rgba(0, 0, 0, .12);
$light: #eee;

$facebook: #3b5998;
$twitter: #3f729b;
$instagram: #f26798;

$primary-300: #90caf9;
$primary-500: #2196f3;
$primary-700: #1976d2;
