$black: #212121;
$white: #fff;

$text: #212121;
$secondary: #727272;
$divider: #b6b6b6;
$light: #eee;

$facebook: #3b5998;
$twitter: #3f729b;
$instagram: #f26798;

$primary-300: #7ecefd;
$primary-500: #2185c5;
$primary-700: #3e454c;

$accent-100: #ff7f66;
