<header class="container-fluid primary__bg">
  <div class="container">
    <div class="row">
      <div class="gutter"></div>
      <div class="col-sm-12 col-md-6">
        <img class="header__logo" src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Hero-logo.svg" alt="Hydro Monkeyz Garage" />
        <img class="header__brand" src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Hero-brand.svg" alt="Hydro Monkeyz Garage" />
        <p class="white lead header__tag">
          No. 1 Australian family owned hydrographic water transferring business
        </p>

        <p class="white lead header__quote">
          <em>
          "You dream it. We make it."
          </em>
        </p>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/iP7BKHU4WUc?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="gutter"></div>
      </div>
    </div>
  </div>
</header>
