%section.container-fluid.white__bg
  .container
    .row
      .col-sm-12
        %h1 Pattern Gallery
        .gallery
          .gallery-cell
            =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/pat-1.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/pat-2.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/pat-3.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/pat-4.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/pat-5.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/pat-6.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/pat-7.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/pat-8.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/pat-9.png', :alt => "HydroMonkeyz Garage"
        .gutter
