%section.container-fluid.white__bg
  .container
    .row
      .col-sm-12
        %h1 Pattern Gallery
        .gallery
          .gallery-cell
            =image_tag 'pat-1.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'pat-2.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'pat-3.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'pat-4.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'pat-5.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'pat-6.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'pat-7.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'pat-8.png', :alt => "HydroMonkeyz Garage"
          .gallery-cell
            =image_tag 'pat-9.png', :alt => "HydroMonkeyz Garage"
        .gutter
