%section.container-fluid.white__bg
  .container
    .row
      .col-sm-12
        %h1 Pattern Gallery
        .gallery
          .gallery-cell
            %img{ :src => "http://placehold.it/600x600", :alt => "HydroMonkeyz Garage" }
          .gallery-cell
            %img{ :src => "http://placehold.it/600x600", :alt => "HydroMonkeyz Garage" }
          .gallery-cell
            %img{ :src => "http://placehold.it/600x600", :alt => "HydroMonkeyz Garage" }
          .gallery-cell
            %img{ :src => "http://placehold.it/600x600", :alt => "HydroMonkeyz Garage" }
          .gallery-cell
            %img{ :src => "http://placehold.it/600x600", :alt => "HydroMonkeyz Garage" }
          .gallery-cell
            %img{ :src => "http://placehold.it/600x600", :alt => "HydroMonkeyz Garage" }
        .gutter
