<section class="container-fluid light__bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>The Team</h1>
      </div>

      <div class="col-sm-4">
        <h2 class="h3">Meir Partouche</h2>
        <p>
          Promotion Manager<br>
        </p>
        <div class="gutter"></div>
      </div>

      <div class="col-sm-4">
        <h2 class="h3">Sam Partouche</h2>
        <p>
          Service Engineer Manager
        </p>
        <div class="gutter"></div>
      </div>

      <div class="col-sm-4">
        <h2 class="h3">Riko Partoosh</h2>
        <p>
          Hydro Dipping Manager
        </p>
        <a href="tel://03-1234-1234">0402 496 647</a>
        <div class="gutter"></div>
      </div>

    </div>
  </div>
</section>
