<section class="container-fluid light__bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Who we are</h1>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="Meir Partouche" />
        <h2 class="h3">Meir Partouche</h2>
        <p>
          Manager <br>
          +61 413 421 939
        </p>
        <div class="gutter"></div>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="Sam Partouche" />
        <h2 class="h3">Sam Partouche</h2>
        <p>
          Service + Engineer
        </p>
        <div class="gutter"></div>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="Riko Partouche" />
        <h2 class="h3">Riko Partouche</h2>
        <p>
          Hydrographic transferring
        </p>
        <div class="gutter"></div>
      </div>

    </div>
  </div>
</section>
