<div class="container-fluid about__bg">
  <div class="container" >
    <div class="row">
      <div class="col-sm-12">
        <h2 class="about__title">What is hydrographics?</h2>
        <p class="about__info">
          Hydrographics known as water transfer printing, is a method of applying printed designs to 3D objects. The hydrographic process can be used on metal, plastic, glass, hard woods, and various other materials.
        </p>
      </div>
    </div>
  </div>
</div>
