<div class="container-fluid contact__bg--header">
  <div class="container" >
    <div class="row">
      <div class="col-sm-12">
        <h1 class="contact__title">Contact Us</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid contact__bg--who">
  <div class="container" >
    <div class="row">
      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="" />
        <h3>John Doe</h3>
        <p>
          Job title <br>
          Phone: +61 123 123 123 <br>
          Email: name@email.com
        </p>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="" />
        <h3>John Doe</h3>
        <p>
          Job title <br>
          Phone: +61 123 123 123 <br>
          Email: name@email.com
        </p>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="" />
        <h3>John Doe</h3>
        <p>
          Job title <br>
          Phone: +61 123 123 123 <br>
          Email: name@email.com
        </p>
      </div>

      <div class="col-sm-12">
        <div class="gutter"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid contact__bg--info">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="contact__overline"></div>
        <h1 class="contact__email">
          <a href="mailto:m.blode@gmail.com">m.blode@gmail.com</a>
          <div class="contact__underline"></div>
        </h1>
      </div>

      <div class="col-sm-6">
        <h3 class="contact__address text-right">
          123 Fake st. Knoxville <br>
          3142 Melbourne <br>
          Australia <br>
          +01 234 456 789
        </h3>
      </div>

    </div>
  </div>
</div>
