<section class="container-fluid primary__bg">
  <div class="container contact__container">
    <div class="row">

      <div class="col-sm-12">
        <h1 class="white contact__title">Contact Us</h1>
        <hr>
      </div>

      <div class="col-sm-6 contact text-left center-responsive">
        <div class="contact__social">
          <a class="social" href="https://www.facebook.com/HydroMonkeyzGarage">
            <i class="fa fa-facebook fa-2x white"></i>
          </a>

          <a class="social" href="https://instagram.com/hydro_monkeyz_garage/">
            <i class="fa fa-instagram fa-2x white"></i>
          </a>

          <a class="social" href="#">
            <i class="fa fa-youtube fa-2x white"></i>
          </a>

          <a class="social" href="mailto:hydromonkeyzgarage@gmail.com">
            <i class="fa fa-envelope fa-2x white"></i>
          </a>
        </div>

        <div class="gutter--sm"></div>

        <h4 class="contact__email"><a href="mailto:hydromonkeyzgarage@gmail.com" class="white">hydromonkeyzgarage@gmail.com</a></h4>

        <div class="gutter--sm"></div>
      </div>

      <div class="col-sm-6 contact text-right center-responsive">

        <h4 class="contact__address">
          <a href="https://goo.gl/maps/ka7r9" class="white" target="_blank">
            Factory #12 5/13 Elma Rd, Cheltenham <br>
            Victoria 3192, Australia <br>
          </a>

          <small class="white">Turn off Elma Road into Elma Drive, Factory #12</small>
        </h4>

        <div class="gutter--sm"></div>

        <h4><a href="tel://03-1234-1234" class="white">0402 496 647</a></h4>

        <div class="gutter--sm"></div>

      </div>
    </div>
  </div>
</section>
