<div class="container-fluid contact__bg--who">
  <div class="container" >
    <div class="row">
      <div class="col-sm-12">
        <h1 class="contact__title">Contact Us</h1>
        <div class="gutter--sm"></div>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="" />
        <h3 class="who__title">Meir Partouche</h3>
        <p class="who__info">
          Manager <br>
          +61 413 421 939
        </p>
        <div class="gutter--sm"></div>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="" />
        <h3 class="who__title">Sam Partouche</h3>
        <p class="who__info">
          Service + Engineer
        </p>
        <div class="gutter--sm"></div>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="" />
        <h3 class="who__title">Riko Partouche</h3>
        <p class="who__info">
          Hydrographic transferring
        </p>
        <div class="gutter--sm"></div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid contact__bg--info">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="contact__overline"></div>
        <h1 class="contact__email">
          <a href="mailto:hydromonkeyzgarage@gmail.com" class="white">hydromonkeyzgarage@gmail.com</a>
          <div class="contact__underline"></div>
        </h1>
      </div>

      <div class="col-sm-6">
        <h3 class="contact__address text-right">
          5/13 Elma Rd, Cheltenham <br>
          Victoria 3192, Australia <br>
          <small class="white">Turn Right off Elma Road Into Elma Drive, Garage #12</small> <br>
        </h3>


      </div>

    </div>
  </div>
</div>
