<div class="container-fluid contact__bg--who">
  <div class="container" >
    <div class="row">
      <div class="col-sm-12">
        <h1 class="contact__title">Contact Us</h1>
        <div class="gutter--sm"></div>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="" />
        <h3 class="who__title">Meir Partouche</h3>
        <p class="who__info">
          Manager
        </p>
        <div class="gutter--sm"></div>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="" />
        <h3 class="who__title">Sam Partouche</h3>
        <p class="who__info">
          Service + Engineer
        </p>
        <div class="gutter--sm"></div>
      </div>

      <div class="col-sm-4">
        <img src="http://placehold.it/600x600" class="img-responsive" alt="" />
        <h3 class="who__title">Riko Partouche</h3>
        <p class="who__info">
          Hydrographic transferring
        </p>
        <div class="gutter--sm"></div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid contact__bg--info">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="contact__overline"></div>
        <h1 class="contact__email">
          <a href="mailto:hydromonkeyzgarage@gmail.com" class="white">hydromonkeyzgarage@gmail.com</a>
          <div class="contact__underline"></div>
        </h1>
      </div>

      <div class="col-sm-6">
        <h3 class="contact__address text-right">
          123 Fake st. Knoxville <br>
          3142 Melbourne <br>
          Australia <br>
          +01 234 456 789
        </h3>
      </div>

    </div>
  </div>
</div>
