<div class="container-fluid footer__bg">
  <div class="container" >
    <div class="row">
      <div class="col-sm-12">
        <p class="footer__title text-center">&copy; <%= Time.now.year %> Hydro Monekyz Garage &middot; All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
