<footer class="container-fluid white__bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="footer__title text-center">&copy; <%= Time.now.year %> HydroMonkeyz Garage</p>
      </div>
    </div>
  </div>
</footer>
