<div class="container-fluid header__bg">
  <div class="container">
    <div class="row">
      <div class="gutter--md"></div>
      <div class="col-sm-12 col-md-6">
            <img class="header__logo" src="images/hero-logo.svg" alt="Logo" />
            <img class="header__brand" src="images/hero-brand.svg" alt="Logo" />
            <p class="white lead header__tag">
              Australia's no. 1 hydrographic painting business <br>
              Automotive // Equipment // Interior
            </p>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/iP7BKHU4WUc?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="gutter--md"></div>
      </div>
    </div>
  </div>
</div>
