<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

    <title>HydroMonkeyz Garage &middot; <%= current_page.data.title %></title>

    <meta name="description" content="HydroMonkeyz Garage &middot; No. 1 Australian family owned hydrographic water transferring business.">

    <%= stylesheet_link_tag "all" %>
