<div class="container-fluid header__bg">
  <div class="container">
    <div class="row">
      <div class="gutter"></div>
      <div class="col-sm-6">
        <div class="header">
          <div class="header__text">
            <img class="header__title text-center" src="/images/Logo.svg" alt="Logo" />
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/iP7BKHU4WUc"></iframe>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="gutter"></div>
      </div>
    </div>
  </div>
</div>
