.container-fluid.contact__bg--header
  .container
    .row
      .col-sm-12
        .header
          .header__text
            %img{ :class => "header__title text-center", :src => "/images/Logo.svg"}
