%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => "#collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to '/index.html', :class => 'navbar-brand' do
        =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/hmg.svg', :style => "height: 130%; margin-top: -2px;", :alt => "HydroMonkeyz Garage"
    .collapse.navbar-collapse#collapse
      %ul.nav.navbar-nav.navbar-right
        %li{ nav_active('index.html') }
          = link_to '/index.html' do
            Home
        %li
          = link_to 'http://www.gumtree.com.au/s-seller/Riko/1011425121' do
            Store
