<div class="container-fluid work__bg">
  <div class="container" >
    <div class="row">
      <div class="col-sm-12">
        <h2 class="work__title">Our work</h2>
      </div>

      <div class="col-sm-6 work__card-1">
        
      </div>
    </div>
  </div>
</div>
