<header class="container-fluid primary__bg">
  <div class="container">
    <div class="row">
      <div class="gutter"></div>
      <div class="col-sm-12 col-md-6">
        <img class="header__brand" src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Hero-brand.svg" alt="Hydro Monkeyz Garage" />
      </div>

      <div class="col-sm-12">
        <div class="gutter"></div>
      </div>
    </div>
  </div>
</header>
