---
title: Styles
date: 2015-07-20
img: "styles.jpg"
description: Water transfer printing for your tyres.
tag: Automotive
---

%h1 Styles
.gallery
  .gallery-cell
    =image_tag 'IMG_5886.JPG', :alt => "HydroMonkeyz Garage"
  .gallery-cell
    =image_tag 'P1300581.JPG', :alt => "HydroMonkeyz Garage"
  .gallery-cell
    =image_tag 'P1300585.JPG', :alt => "HydroMonkeyz Garage"
  .gallery-cell
    =image_tag 'P1300594.JPG', :alt => "HydroMonkeyz Garage"
.gutter

%a
  = link_to ('See more at Facebook'), 'https://www.facebook.com/HydroMonkeyzGarage', class: 'btn btn-primary'

.gutter
