---
title: Auto Dipping
date: 2015-07-10
img: "https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/auto-dipping.jpg"
description: Water transfer printing for your tyres.
tag: Automotive
---

%h1 Auto Dipping

.gallery
  .gallery-cell
    =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/P1300603.JPG', :alt => "HydroMonkeyz Garage"
  .gallery-cell
    =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/P1300604.JPG', :alt => "HydroMonkeyz Garage"
  .gallery-cell
    =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/P1300605.JPG', :alt => "HydroMonkeyz Garage"
  .gallery-cell
    =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/P1300609.JPG', :alt => "HydroMonkeyz Garage"
  .gallery-cell
    =image_tag 'https://s3-us-west-2.amazonaws.com/hydromonkeyzgarage/P1300608.JPG', :alt => "HydroMonkeyz Garage"
.gutter

%a
  = link_to ('See more at Facebook'), 'https://www.facebook.com/HydroMonkeyzGarage', class: 'btn btn-primary'

.gutter
