---
title: Auto Services
date: 2015-01-15
img: "images/auto-services.jpg"
description: Custom Hydrographic Paint Jobs
tag: Automotive
---

%h1 Auto Services

=image_tag 'images/P1300579.JPG', :class => 'img-responsive'
.gutter

%a
  = link_to ('See more at Facebook'), 'https://www.facebook.com/HydroMonkeyzGarage', class: 'btn btn-primary'

.gutter
