.contact__container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.center-responsive {
  @media (max-width:767px) {
    font-size: 18px;
    text-align: center;
  }
}

.contact__title {
  @media (max-width:767px) {
    text-align: center;
  }
}

.contact__social {
  transition: $trans;

  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}


.contact {
  a, i {
    color: $white;
  }

  .social {
    text-decoration: none;
  }

  a:hover, i:hover {
    color: $primary-300;
  }

  a:focus, i:focus {

  }

  a:active, i:active {

  }

  a:visited {

  }


}
