body {
  margin-top: 50px;
  background: #eee;
}

.container {
  clear: both;
  display: block;
}

.container-fluid {
  padding: 0;
}

hr {
  margin: 0;
  margin-top: 20px;
}

.gutter {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 30px;
}
