body {
  background: #fff;
}

.container {
  clear: both;
  display: block;
}

.container-fluid {
  padding: 0;
}

hr {
  margin: 0;
}

.gutter--md {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 30px;
}

.gutter--xs {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 10px;
}

.gutter--sm {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 15px;
}

.white {
  color: $light;
}
