.header {
  height: 300px;
}

.header__title {
  font-size: 42px;
  font-weight: 300;
}

.header__text {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
