.navbar {
  background: $primary-500;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .12);
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: $primary-300 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-default {
  .navbar-nav {
    > li {
      > a {
        transition: $trans;

        &:hover,
        &:focus {
          background: $primary-300;
          color: $white !important;
        }
      }
    }

    > .active {
      > a,
      > a:hover,
      > a:focus {
        background: $primary-300;
        color: $white !important;
      }
    }

    > .open {
      > a,
      > a:hover,
      > a:focus {
        background-color: $primary-500;
        color: $primary-500;
      }
    }
  }

  .navbar-toggle {
    border-color: $primary-300;

    &:hover,
    &:focus {
      background-color: $primary-300;

      .icon-bar {
        background-color: $white;
      }
    }

    .icon-bar {
      background-color: $primary-300;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border: 0;
  }

  .navbar-link {
    &:hover {
      color: $primary-500;
    }
  }
}

@media (max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > .active {
      > a,
      > a:hover,
      > a:focus {
        background-color: $primary-300;
        border: 0;
        color: $white;
      }
    }
  }
}
